################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CbusDefs/bin/Debug/net5.0
/CbusDefs/obj
/CbusDefs/bin/Debug/net8.0
